#body{
margin: 0;
padding: 0;
font: normal 13px arial, helvetica, sans-serif;
background-color:#000 ;
margin-top: 5px;
}

#menu {
    width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 50px; */
    padding-bottom: 40px;
    }
    
    #menu ul {
    list-style: none;
    margin: 0;
    }
    
    #menu ul li {
    margin: 0;
    float: left;
    }
    
    #menu ul li a {
    margin:0 2px;
    width: 138px;
    font-weight:bold;
    font-size:1.5em;
    text-align: center;
    line-height: 44px;
    display:block;
    text-decoration: none;
    }
    
    #menu ul li a:hover {
    color:#000;
    }
    
    #item-uno a {
    border-bottom:5px solid #f00;
    color: #f00
    }
    
    #item-dos a {
    border-bottom:5px solid #f80;
    color: #f80;
    }
    
    #item-tres a {
    border-bottom:5px solid #8f0;
    color: #8f0;
    }
    
    #item-cuatro a {
        border-bottom:5px solid #0ff;
        color: #0ff;
    }
    
    #item-cinco a {
    border-bottom:5px solid #08f;
    color: #08f;
    }
    
    #item-seis a {
    border-bottom:5px solid #9900ff;
    color: #9900ff;
    }
    
    #item-uno a:hover {
    background:#f00;
    }
    
    #item-dos a:hover {
    background:#f80;
    }
    
    #item-tres a:hover {
    background:#8f0;
    }
    
    #item-cuatro a:hover {
    background:#0ff;
    }
    
    #item-cinco a:hover {
    background:#08f;
    }
    
    #item-seis a:hover {
    background:#9900ff;
    }

@media screen and (max-width: 500px) {
    /* #menu ul li {
        margin: 0;
        float:none;
        } */
        #menu ul li a {
            display:inline;
            text-decoration: none;
            }
        #body{
                margin-left: 0px;
                font-size: 10px;
            }
    
    .Contact h2:hover{
        font-size: 55px;
    }
}